.header{
    border:#474e5d 5px solid;
    width: 100%;
    font-size: 60px;
    color:#474e5d;
    border-radius: 25px;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.headerBox{

    

}